*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #2A2F4F;
    color: #FDE2F3;
}

.title {
    padding-block: 1rem;
    text-align: center;
    font-size: 1.7rem;
}
main {
    display: grid;
    place-content: center;
    align-items: center;
    padding-block: 1rem;
    padding-inline: 1.5rem;
    min-height: 90vh;
}
.fa-coins {
    font-size: 4rem;
    text-align: center;
}

.head {
    padding-block: 2rem;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.head button {
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: 1em;
    outline: none;
    border: none;
    background-color: #917FB3;
    cursor: pointer;
    transition: ease .3s all;
}
.head button:hover {
    background-color: #E5BEEC;
}