*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #e4dcdc;
}
.home {
    min-height: 100vh;
    padding-block: 3rem;
    padding-inline: 1rem;
    text-align: center;
    display: grid;
    align-items: center;
    place-content: center;
}
.title-content {
    border: 1px solid #111;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    font-size: 1.3rem;
    letter-spacing: 2px;
    max-width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.first {
    border-right: 1px solid #111;
    padding-inline: 1rem;
}
.last {
    padding-inline: 1rem;
}

.title {
    font-size: 1.1em;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.title span {
    font-size: 1.2em;
}

.contacts, .email{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;
    font-size: 1.1em;
   
}
.contacts a {
    text-decoration: none;
    color: #111;
    transition: ease .3s all;
}
.contacts a:hover {
    transform: scale(1.3);
}
.email h5 {
    font-size: 1.2em;
}
.email {
    padding-block-start: 0;
}


